* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#banner{
    height: 300px;
    background-color:#4ea0ff;
    background-image:url(../img/pattern.png);
    position: relative;
}
header img{
    width: 20%;
    position: absolute; 
    bottom: 10%;
    left: 1%;
}

#titolo{
    font-size: 70px;
}

.autore p{
    font-size: 35px;
    color: #808080;
}

.autore span{
    color: #9a9a9a;
    font-size: 30px;
}

#autore{
    color:#76caef;
} 

main section img{
    width: 48%;
    height: 900px;
}


h3 span{
    background-color: #ffff00;
}
section{
    font-size: 30px;
    font-weight: bold;
}
th{
    width: 1020px;
  }
  thead tr{
    background-color: #20a9e5;
    color: white;
  }

tbody th{
    background-color: #b1e5f2;
}

tbody td{
    text-align: center;
}

footer h3{
    font-size: 30px;
    color: #808080;
}
footer img{
    width: 500px;
    display: block;
}

main, footer{
    padding: 100px;
}
